<%- include ("./partials/header")%>
<div class="container mt-5">

    <form action="/edit/<%= data.id%>" method="POST" class="d-flex">
        <input type ="text" name="name" value="<%= data.dataValues.name%>" class="form-control">
        <input type="submit" value="Save" class="btn btn-md btn-primary">
    
    </form>


<%- include ("./partials/footer")%>